.convoContainer {
  height: 100vh;
}

.fullHeightRow {
  height: 100%;
}

.threadsColumn,
.conversationColumn,
.userInfoColumn {
  padding: 10px;
}

.threadsColumn {
  background-color: #f0e6ff;
}

.card {
}
.threadItem {
  margin-bottom: 10px;
  background-color: #ebebeb;
  padding: 10px;
  border-radius: 5px;
}

.conversationColumn {
  background-color: #e6f7ff;
}

.conversationContent {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  min-height: 300px; // Adjust as needed
}

.userInfoColumn {
  background-color: #e6ffe6;
}

.userInfo {
  margin-bottom: 10px;
  background-color: #ebebeb;
  padding: 10px;
  border-radius: 5px;
}
